<%- include ("../views/partials/header") %>
<div class="row">

    <div class="col-md-6">
        <form method="POST" action="/todo/edit/<%= todo._id %>">
            <div class="form-group">
                <label>Task Title</label>
                <input class="form-control" type="text" name="title" required value="<%= todo.text %>">
            </div>
            <div class="form-group">
                <label>Task Info</label>
                <textarea class="form-control" name="info" required
                    placeholder="Edit Task Info"><%= todo.body %> </textarea>
            </div>
            <br>
            <button class="btn btn-primary" type="submit">Submit</button>
            <a class="btn btn-danger" href="/">Cancel ❎️</a>
        </form>
    </div>
</div>


<%- include ("../views/partials/footer") %>